{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Wishlist</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="font-weight-bold mb-0 wishlist-heading">Hello, {{ user.username }},</p>
            {% if wishlist %}
            <p class="wishlist-heading">View and edit products currently in your wishlist</p>
            {% else %}
            <p class="mt-1 wishlist-heading">Your wishlist is empty</p>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-lg-8">
            {% if wishlist %}
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th class="wishlist-heading">Product Image</th>
                            <th class="wishlist-heading">Name</th>
                            <th class="wishlist-heading">Price</th>
                            <th class="wishlist-heading">Shop Now</th>
                            <th class="wishlist-heading">Remove</th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        {% for product in wishlist %}
                        <tr>
                            <td>
                                <!-- Product image -->
                                {% if product.product.image %}
                                <img class="product-image-small" src="{{ product.product.image.url }}"
                                    alt="{{ product.product.name }}">
                                {% else %}
                                <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product.name }}">
                                {% endif %}
                            </td>
                            <td>
                                <p>{{ product.product.name }}</p>
                            </td>
                            <td>
                                <p class="wishlist-body"><span class="text-left h5">€{{ product.product.price }}</span>
                                </p>
                            </td>
                            <td>
                                <a href="{% url 'product_detail' product.product.id %}"
                                    aria-label="Link to this product details page">
                                    <i class="fas fa-shopping-bag text-muted"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'remove_from_wishlist' product.product.id %}"
                                    aria-label="Remove this product from wishlist">
                                    <i class="fas fa-trash text-muted"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr class="br-margin2">
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}