{% load static %}
<footer class="container-fluid">
    <div class="row py-lg-3 px-lg-3">
        <div class="col-12 col-md-4 px-4 px-md-0 py-4">
            <ul class="nav flex-column divider px-4">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link text-uppercase">Our Products</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'terms' %}" class="nav-link text-uppercase">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.freeprivacypolicy.com/live/150890e4-122b-4379-9896-6f3cdd2a2c69"
                        target="_blank" class="nav-link text-uppercase">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-4 text-center">
            <p>Follow us on Social Media:</p>
            <ul class="list-unstyled list-inline social-networks">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/profile.php?id=100092163125955" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in new tab)"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.pinterest.com/" target="blank" rel="noopener"
                        aria-label="Visit out Pinterest page (opens in new tab)"><i class="fab fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-4 order-first">
            <div>
                <h3 class="mb-4 sign-up">Sign up for our Newsletter:</h3>
            </div>
            <!--  Mailchimp Sign Up Form -->
            <!-- Begin Mailchimp Signup Form -->
            </style>
            <div id="mc_embed_signup">
                <form
                    action="https://herokuapp.us12.list-manage.com/subscribe/post?u=c95e8b2dca416c0fd2086af31&amp;id=173482b0af&amp;f_id=004db9e0f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email: <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_c95e8b2dca416c0fd2086af31_173482b0af" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="btn-outline-brown" id="brown-button">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>
</footer>

<!--Mailchimp scripts-->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>