<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Face
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="face-link">
                <a href="{% url 'products' %}?category=face_moisturiser" class="dropdown-item">Moisturiser</a>
                <a href="{% url 'products' %}?category=face_cleanser" class="dropdown-item">Cleansers</a>
                <a href="{% url 'products' %}?category=masks_treatments" class="dropdown-item">Masks and treatments</a>
                <a href="{% url 'products' %}?category=face_moisturiser,face_cleanser,masks_treatments" class="dropdown-item">All Face Care</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="body-link">
                <a href="{% url 'products' %}?category=body_moisturiser" class="dropdown-item">Moisturiser</a>
                <a href="{% url 'products' %}?category=body_bath_shower" class="dropdown-item">Bath and Shower</a>
                <a href="{% url 'products' %}?category=body_moisturiser,body_bath_shower" class="dropdown-item">All Body</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organic
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="organics-link">
                <a href="{% url 'products' %}?category=organic_face" class="dropdown-item">Face</a>
                <a href="{% url 'products' %}?category=organic_body" class="dropdown-item">Body</a>
                <a href="{% url 'products' %}?category=organic_face,organic_body" class="dropdown-item">All Organic</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                How To
            </a>
        </li>
    </ul>
</div>